<div id="rightPanel">
  <div class="project">
    <h2>Blog List</h2>
    <%= flash[:notice] %>
    <% @blogs.each do |blog| %>
        <div class="testimonial">
          <h2> <%= link_to "#{blog.title}",new_blog_comment_path(blog)%></h2>
        </div>
    <% end %>
  </div>
</div>