/*normal
---------------------------------------------------*/
body{margin:0px; padding:0px; background:#fffde4 url(bodyBg.jpg) repeat-x;font-family:Georgia;}
#mainWrap{width:970px; margin:0px auto; padding:0px;}
#mainPanel{width:990px; margin:0px; padding:0px; float:left}

/*head
--------------------------------------------------------*/
#logoWrap{}
h1{ color:#26606D; font-size:50px;}

/*right
--------------------------------------------------*/
#leftPanel{width:637px; margin:47px 0 0 0; padding:0 0 0 35px; float:right; background:url(rigthBg.jpg) no-repeat}

/*edit
-----------------------------------------------------*/
#leftPanel .editContent{width:604px; margin:0px; padding:20px; float:left; border:2px solid #BB9D7E; height:550px;}
#leftPanel .editContent h2{width:604px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:30px; color:#0b636b; line-height:34px; font-weight:normal}
#leftPanel .editContent h3{width:604px; margin:4px 0 0 0; padding:0px; float:left; font-family:Georgia; font-size:18px; color:#943415; line-height:32px; font-weight:normal}
#leftPanel .editContent p{width:590px; margin:3px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:16px}


/*view
----------------------------------------------------*/
#panel {
	float:left; width:970px;
}
#panel .editContent{width:100%; margin:0px; float:left;}
#panel .editContent h2{width:100%; margin:0px; padding:5px 0px; float:left; font-family:Georgia; font-size:30px; color:#0b636b; line-height:34px; font-weight:normal; border-bottom:1px solid #BB9D7E}
#panel .editContent h3{width:100%; margin:4px 0 0 0; padding:0px; float:left; font-family:Georgia; font-size:12px; color:#943415; line-height:32px; font-weight:normal}
#panel .editContent p{width:100%; margin:3px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:18px}

#panel .testimonial{ width:100%; margin:0px; padding:0px; float:left; margin-top:30px;}
#panel .testimonial h2{ margin:30px 0 0 0; padding:0px; font-family:Georgia; font-size:16px; color:#943415; line-height:28px; font-weight:normal; padding-right:20px;}
#panel .testimonial p{ margin:13px 0 0 0; padding:0px; font-family:Arial; font-size:12px; color:#bb9d59; line-height:16px; text-indent:12px; background:url(quo.jpg) no-repeat;}

#panel .testimonial table { width:100%; margin-bottom: 30px;}
#panel .testimonial td {
	border-bottom:1px dotted #BB9D7E; padding:10px 0px;font-family:Georgia; font-size:12px; color:#943415; line-height:32px; font-weight:normal;
    text-align: left;
}
#panel .testimonial .testimonial_visitor {
    font-weight: bold; width: 120px; padding-left:3px;
}

.date{width:644px; height:29px; margin:30px 0 0 0; padding:0px; float:left; background:#f9f6d4}
.date .left{width:139px; height:29px; margin:0px; padding:0 0 0 35px; float:left; font-family:Arial; font-size:11px; color:#bb9d59; line-height:30px; font-weight:bold; background:url(cal.jpg) no-repeat 11px 0}
.date .right{width:45px; height:29px; margin:0px; padding:0 0 0 38px; float:right; background:url(read.jpg) no-repeat 12px 0}
.date .right a{font-family:Arial; font-size:11px; color:#943415; line-height:30px; font-weight:bold; text-decoration:none}


.COMMENT {
    COLOR:#0b636b;MARGIN: 10PX 0PX;
}
.COMMENT TEXTAREA{
    border:1px solid #BB9D7E; WIDTH: 100%; HEIGHT: 150PX; MARGIN: 10PX 0PX; LINE-HEIGHT: 30PX;font-size: 12px;
}
.COMMENT INPUT {
    border:1px solid #BB9D7E; WIDTH: 250PX; HEIGHT: 20PX; MARGIN: 10PX 0PX;LINE-HEIGHT: 30PX;
}

#leftPanel .services{width:604px; margin:34px 0 0 0; padding:0px; float:left}
#leftPanel .services h2{width:604px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:24px; color:#2c787b; line-height:28px; font-weight:normal}
#leftPanel .services .pic{width:163px; height:202px; margin:15px 0 0 0; padding:0 0 0 28px; float:left; background:url(pic1.jpg) no-repeat}
#leftPanel .services .pic a{font-family:Arial; font-size:10px; color:#943415; line-height:14px; margin:146px 0 0 0; padding:0px; float:left; width:123px}
#leftPanel .services p{width:390px; margin:14px 0 0 0; padding:0 0 0 20px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:16px}
#leftPanel .services p span{font-weight:bold}
#leftPanel .services h3{width:390px; margin:13px 0 0 0; padding:0 0 0 20px; float:left; font-family:Georgia; font-size:18px; color:#5c4527; line-height:22px; font-weight:normal}
#leftPanel .services ul{width:390px; margin:5px 0 0 0; padding:0 0 0 20px; float:left; display:block}
#leftPanel .services ul li{width:390px; margin:0px; padding:0px; float:left; display:block}
#leftPanel .services ul li a{width:372px; height:22px; margin:0px; padding:0 0 0 18px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:20px; font-weight:bold; text-decoration:none; border-bottom:#d8cd2f dashed 1px; background:url(listStyle.jpg) no-repeat 2px 6px}
#leftPanel .services ul li a.bottom{width:372px; height:22px; margin:0px; padding:0 0 0 18px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-decoration:none; border-bottom:0px; background:url(listStyle.jpg) no-repeat 2px 6px}

/*list
-------------------------------------------------------*/
#leftPanel .testimonial{width:590px; margin:0px; padding:0px; float:left}
#leftPanel .testimonial h2{width:590px; margin:30px 0 0 0; padding:0px; float:left; font-family:Georgia; font-size:24px; color:#2c787b; line-height:28px; font-weight:normal}
#leftPanel .testimonial p{width:590px; margin:13px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:16px; text-indent:12px; background:url(quo.jpg) no-repeat}
#leftPanel .testimonial p span{font-weight:bold}
#leftPanel .testimonial h3{ width:250px; height:29px; margin:6px 0 0 0; padding-left:25px;  float:left; font-family:Arial; font-size:11px; color:#943415; font-weight:bold; background:url(cal.jpg) no-repeat; line-height:29px;}


/*left
-----------------------------------------------------*/
#rightPanel{width:266px; margin:60px 0 0 0; padding:0 0 74px 0px; float:left;}
#rightPanel  h2{width:262px;  margin:0px; padding:0px; float:left; font-family:Georgia; font-size:24px; color:#0b636b; line-height:28px; font-weight:normal}
#rightPanel .view{width:58px; margin:3px 2px 0 0; padding:0 0 0 15px; float:right; font-family:Arial; font-size:11px; color:#943415; font-weight:bold; text-decoration:none; background:url(listStyle.jpg) no-repeat 0 4px}
#rightPanel .pic1{width:262px; height:68px; margin:15px 0 0 0; padding:0px; float:left; background:url(pic2.jpg) no-repeat}
#rightPanel .pic2{width:262px; height:68px; margin:13px 0 0 0; padding:0px; float:left; background:url(pic3.jpg) no-repeat}
#rightPanel .pic3{width:262px; height:68px; margin:13px 0 0 0; padding:0px; float:left; background:url(pic4.jpg) no-repeat}
#rightPanel .contacts .blank2{width:42px; height:19px; margin:12px 0 0 0; padding:0px; float:left}


#rightPanel .project{width:266px; margin:0px; padding:0px; float:left}
#rightPanel .project ul{width:260px; margin:8px 0 0 0; padding:0px; float:left; display:block}
#rightPanel .project ul li{width:260px; margin:0px; padding:0px; float:left; display:block}
#rightPanel .project ul li a{width:250px; height:21px; margin:0px; padding:0 0 0 10px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:18px; text-decoration:none; background:url(listbg.jpg) no-repeat}
#rightPanel .project ul li a:hover{font-weight:bold; color:#943415}
#rightPanel .project ul li a.bottom{width:250px; height:20px; margin:0px; padding:0 0 0 10px; float:left; font-family:Arial; font-size:12px; color:#bb9d59; line-height:18px; text-decoration:none; background:url(listbg.jpg) no-repeat}
#rightPanel .project ul li a.bottom:hover{font-weight:bold; color:#943415}

/*foot
--------------------------------------------------------*/
#footPanel{ margin:25px auto; float:left; background:url(footbg.jpg) no-repeat center top; width:970px;}
#footPanel .copyright{; margin:25px auto; padding:0px; font-family:Arial; font-size:11px; color:#bb9d59; line-height:15px; text-align:center;}


/*login
---------------------------------------------------------*/
#loginPanel .contacts{width:500px; margin:0px auto; padding:10px; height:500px; }
#loginPanel .contacts h2{padding:0 0 2px 0; color:#FFF; font-size:70px;border-bottom:2px solid #26606D;}
#loginPanel .contacts p{width:42px; height:19px; margin:45px 0 8px 0; padding:0px;font-family:Arial; font-size:12px; font-weight:bold; color:#bb9d59; line-height:18px}
#loginPanel .contacts input{width:500px; height:30px; line-height:30px;padding:2px 0 0 9px; float:left; font-family:Arial; font-size:10px; color:#000000; border:#e8e6c8 solid 1px; background:#f8f5d2}
#loginPanel .contacts a{width:93px; height:19px; margin:12px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:18px; text-align:center; text-decoration:none; background:url(contactsBg.jpg) no-repeat}
#loginPanel .contacts a{width:106px; height:19px; margin-top:30px; margin-right:10px; padding:0px; float:left;}

