<!DOCTYPE html>
<html>
<head>
  <title>Simpleblog</title>
  <%= stylesheet_link_tag    "simpleblog" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="mainWrap">
        <div id="mainPanel">
          <div id="logoWrap">
            <h1>My Blog</h1>
          </div>
            <%=yield %>


        </div>
    </div>


</body>
</html>
